* {
  margin: 0;
  padding: 0;
  background-color: #1e1c1c00;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  background-color: rgb(94, 163, 236);
  padding: 20px;
  color: white;
  font-size: 22px;
}

.container {
    max-width: 1200px;
    margin: auto;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    text-align: center; 
    margin: 10px;
    width: 420px;
    height: 320px;
  }

  .card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .card img {
    padding: 15px;
     height: 320px;
     width: 300px;
    margin: auto; 
  }
  .card-body {
    padding: 15px;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: #333;
    font-weight: bold;
    font-size: 1.1rem;
  }
  

  .loader{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    animation: spin 2s linear infinite;
  }
  @keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }